@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:400,700');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

body {
  background-color: white;
  font-family: "Londrina Solid", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

#splash{
  text-align:center;
  font-family:"Londrina Solid", sans-serif;
  position:relative;
  top:25%;
  color:white;

  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.35);
}

#splash #title{
  width:100%;
  font-weight:100;
  color:white;
  font-size:90px;
  margin-bottom:30px;
}


#glo-content{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: grey
}

.opbtn{
  display:inline-block;
  margin:40px;
  width:200px;
  height:40px;
  border:1px solid white;
  font-size:20px;
  padding-top:11px;
  background: transparent;
  border-radius:1000px;
  transition:all 0.2s ease;
  cursor:pointer;
}

.opbtn:hover{
  background:white;
  color:black;
}

#menu_button{
  position:absolute;
  top:0px;
  left:0px;
  cursor: pointer;
}

#mines-logo{
  position:absolute;
  bottom:20px;
  right:20px;
  filter:invert(1);
  height:auto;
  transition:all 0.2s ease;
}

#header{
  color:white;
  text-align:center;
  background:rgba(0,0,0,0.8);
  margin: 10px;
  border-radius:15px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  z-index:9999;
}

#header a{
  color:white;
  text-decoration: none;
  display:inline-block;
  padding:20px;
  border-top:0px solid white;
  padding-top:20px;
  margin-left:20px;
  transition:border-top 0.3s ease,padding-top 0.3s ease,background 0.3s ease;
  cursor:pointer;
  background:transparent;
}



#header a:hover{
  background:rgba(255, 255, 255, 0.2);
  padding-top:15px;
  border-top:5px solid white;
}

button {
  border: 7px solid #363535 ;
  font-size: 24px;
  width: 200px;
  height: 100px;
  border-radius: 75px;
}


#content{
  background: black;
  height: 100%;
  position: fixed;
  left: 2%;
  right: 2%;
  box-shadow: 0px 0px 35px rgba(0,0,0,0.8);
  z-index: 25;
  transition:top 0.4s ease;
  overflow-y: auto;
  border-radius: 15px;
}

#content::-webkit-scrollbar {
  width: 11px;
  background-color: #b7b7b7;
  border-radius: 10px;
  box-shadow: inset 0 0 3px 2px #5C6670;
}
#content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
    background-color: #3b3b3b;
    box-shadow: 0 0 1px 0px #000000, inset 0 0px rgba(0,0,0,0.3);
  }

#content:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }


.categorybox{
  display:inline-block;
  width:250px;
  height:250px;
  border-radius:5px 5px 0px 0px;
  box-shadow: 2px 2px 25px rgba(0,0,0,0.2);
  background:#dbdbdb;
  border-bottom:6px solid #b2b2b2;
  overflow:hidden;
  margin-left: 20px;
  margin-top: 20px;
  transition:all 0.5s ease;
  margin-bottom:20px;
  position:relative;
}

.weirdtitle{
  display:inline-block;
  width:250px;
  height:50px;
  text-align:center;
  font-size:30px;
  color:black;
}

.categorybox:hover{
  border-bottom: 0px solid #b2b2b2;
  box-shadow:5px 5px 30px rgba(0,0,0,0.3);
}

.profilebox{
  display:inline-block;
  width:200px;
  height:200px;
  margin-left: 50px;
  text-align:center;
}

.profilebox img{
  margin:10px;
  border-radius:1000px;
}

iframe{
  border:0px solid black;
}


#overlay{
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  z-index:1000;
}

#overlay div{
  display:none;
}

#overlay #ov-box{
  display:block;
  width:300px;
  position:absolute;
  padding:20px;
  background:white;
  border-radius:5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  font-size:12px;
  transition:height 0.7s ease;
}

#login-area{
  background:white;
  box-shadow:2px 2px 15px rgba(0,0,0,0.6);
  border-radius: 1000px;
  position:absolute;
  top:25px;
  right:25px;
  z-index:99999;
  text-align:center;
  padding:5px 20px 5px 20px;
  cursor:pointer;
  transition:bottom 0.7s ease,background 0.5s ease,box-shadow 0.7s ease;
}

#login-area:hover{
  background:#bbb;
  box-shadow:2px 5px 25px rgba(0,0,0,0.6);
}

#optique-side,#matiere-side,#svt-side,#energie-side,#astronomie-side{
  width:auto;
  margin-top:0px;
}

#optique-side mark{
  background:rgba(0, 0, 0, 0.49);
  color:white;
}

#optique-menu,#matiere-menu,#svt-menu,#energie-menu,#astronomie-menu{
  display: inline-block;
  position: absolute;
  top:120px;
  right:20px;
}

#optique-menu div,#matiere-menu div,#svt-menu div,#energie-menu div,#astronomie-menu div{
  color:white;
  transition:all 0.5s ease;
  width:300px;
  margin-bottom:10px;
  padding:10px;
  text-align:center;
  cursor:pointer;
  position:relative;
  bottom:0px;
  box-shadow:0px 0px 0px transparent;
}

#optique-menu div{
  background:crimson;
}

#matiere-menu div{
  background:#dc14b6;
}

#svt-menu div{
  background:#5a9cac;
}

#energie-menu div{
  background:#d8d810;
}

#astronomie-menu div{
  background:#1f5eeb;
}


#optique-menu div:hover,#matiere-menu div:hover,#svt-menu div:hover,#energie-menu div:hover,#astronomie-menu div:hover{
  bottom:2px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.55);
}

img[src="forward.png"]{
  filter:invert(1);
  position: absolute;
  right: 10px;
}


#menu a {
  color:white;
  text-decoration: none;
}

#menu a:hover {
  color:#1d1391;
}

#submenu {
  display: none
}

#menu{
  background: black;
  float:left;
  width: auto;
  overflow-wrap: break-word;
  border-radius: 10px;
  margin-right:20px;
}

nav > li {
  position: relative;
}

#menu:hover #submenu {
  display: block
}
