@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:400,700');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik One:400,700');

body {
  background:'';
  background-color: rgb(255, 137, 0);
  font-family: "Londrina Solid", sans-serif;
  margin: 0;
  color: #444;
  transition: background-color 3s linear;
}

body div{
   margin: 20px;
}

/* TITRES */

h1 { /* Titre principal */
	/* police et police de secours */
	font-family: "Londrina Solid",sans-serif;
	text-align: center;
	font-variant: small-caps; 
	margin: auto;
	width: 800px;
	font-size: 55px;
	text-shadow: 1px 3px 3px ;
}

h2 { /* Titres secondaires */
	font-family: "Londrina Solid",sans-serif;
	font-size: 40px;
}

/* TEXTE */

div#texte {
	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
	font-size: 25px;
}




div#test {
	
	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
}

div#intro {

	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
}

div#definitions {

	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
}

div#moleculaire {

	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
}

div#quizz {

	font-family: "Source Sans Pro",sans-serif;
	padding: 10px 40px 40px 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

#splash{
  text-align:center;
  position:relative;
  top:10%;
  color:white;
  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.35);
  padding:30px
}

#splash #title{
  width:100%;
  font-weight:100;
  color:white;
  font-size:90px;
  margin-bottom:30px;
}


#glo-content{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}



#menu_button{
  position:absolute;
  top:0px;
  left:0px;
  cursor: pointer;
}

#mines-logo{
  position:absolute;
  bottom:20px;
  right:20px;
  filter:invert(1);
  height:auto;
  transition:all 0.2s ease;
}

#header{
  color:white;
  text-align:center;
  background:rgba(0,0,0,0.8);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  position : relative;
  z-index:10;
}

#header a{
  color:white;
  text-decoration: none;
  display:inline-block;
  padding:20px;
  border-top:0px solid white;
  padding-top:20px;
  margin-left:20px;
  transition:border-top 0.3s ease,padding-top 0.3s ease,background 0.3s ease;
  cursor:pointer;
  background:transparent;
  z-index: 999999;
}

#header a:hover{
  background:rgba(255, 255, 255, 0.2);
  padding-top:15px;
  border-top:5px solid white;
}

 #quiz button{	
   border: 3px solid #363535 ;	
   border-radius: 50px;	
   margin : 10px;	
   width: 200px;	
   height: 100px;	
   font-size: 24px;	
   font-family: 'Londrina Solid', sans-serif;	
 }	
 
  #quiz button:hover{	
   background-color: #2e2e31;	
   color : white;	
 }	
    
#content{
  box-shadow: 0px 0px 35px rgba(0,0,0,0.8);
  margin: 30px;
  border-radius:15px;
}

#content::-webkit-scrollbar {
  width: 11px;
  background-color: #b7b7b7;
  border-radius: 10px;
  box-shadow: inset 0 0 3px 2px #5C6670;
}
#content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
  background-color: #3b3b3b;
  box-shadow: 0 0 1px 0px #000000, inset 0 0px rgba(0,0,0,0.3);
}

#content:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}


.categorybox{
  display:inline-block;
  width:250px;
  height:230px;
  border-radius:10px;
  box-shadow: 2px 2px 25px rgba(0,0,0,0.2);
  background:#dbdbdb;
  border-bottom:6px solid #b2b2b2;
  overflow:hidden;
  margin:33px;
  position:relative;
}

.weirdtitle{
  display:inline-block;
  width:250px;
  height:50px;
  text-align:center;
  font-size:30px;
  color:black;
}

.categorybox:hover{
  border-bottom: 0px solid #b2b2b2;
  box-shadow:5px 5px 30px rgba(0,0,0,0.3);
}

.profilebox{
  display:inline-block;
  width:200px;
  height:200px;
  margin-left: 50px;
  text-align:center;
}

.profilebox img{
  margin:10px;
  border-radius:1000px;
}

iframe{
  border:0px solid black;
}


#overlay{
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.4);
  z-index:1000;
}

#overlay div{
  display:none;
}

#overlay #ov-box{
  display:block;
  width:300px;
  position:absolute;
  padding:20px;
  background:white;
  border-radius:5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  font-size:12px;
  transition:height 0.7s ease;
}

#login-area {
  background: white;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.6);
  border-radius: 1000px;
  position: absolute;
  top: 25px;
  right: 50px;
  z-index: 99999;
  text-align: center;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  transition: bottom 0.7s ease,background 0.5s ease,box-shadow 0.7s ease;
}

#login-area:hover{
  background:#bbb;
  box-shadow:2px 5px 25px rgba(0,0,0,0.6);
}

#login-area a{
  color:black;
  text-decoration: none;
  display:inline-block;
  padding:5px;
  border-top:0px solid white;
  transition:border-top 0.3s ease,padding-top 0.3s ease,background 0.3s ease;
  cursor:pointer;
  background:transparent;
}

#signin-area {
  background: white;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.6);
  border-radius: 1000px;
  position: absolute;
  top: 25px;
  right: 200px;
  z-index: 99999;
  text-align: center;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  transition: bottom 0.7s ease,background 0.5s ease,box-shadow 0.7s ease;
}

#signin-area:hover{
  background:#bbb;
  box-shadow:2px 5px 25px rgba(0,0,0,0.6);
}

#signin-area a{
  color:black;
  text-decoration: none;
  display:inline-block;
  padding:5px;
  border-top:0px solid white;
  transition:border-top 0.3s ease,padding-top 0.3s ease,background 0.3s ease;
  cursor:pointer;
  background:transparent;
}

#optique-side,#matiere-side,#svt-side,#energie-side,#astronomie-side,#experience-side,#maths-side{
  width:auto;
  margin-top:0px;
}



#optique-menu,#matiere-menu,#svt-menu,#energie-menu,#astronomie-menu,#experience-menu,#maths-menu{
  float: right;
}


#optique-menu button,#matiere-menu button,#svt-menu button,#energie-menu button,#astronomie-menu button,#experience-menu button,#maths-menu button{
  color:white;
  transition:all 0.5s ease;
  width:300px;
  margin:10px;
  padding:10px;
  text-align:center;
  cursor:pointer;
  position:relative;
  bottom:0px;
  box-shadow:0px 0px 0px transparent;
  font-family: Londrina Solid;
  font-size: 20px;
}

#maths-menu button{
  background:#050980;
  display : block;
  border-radius: 15px;
}
#optique-menu button{
  background:#d8d810;
  display : block;
  border-radius: 15px;
}

#matiere-menu button{
  background:#8e3e00;
  display : block;
  border-radius: 15px;
}

#svt-menu button{
  background:#018e11;
  display : block;
  border-radius: 15px;
}

#energie-menu button{
  background:crimson;
  display : block;
  border-radius: 15px;
}

#astronomie-menu button{
  background:#1f5eeb;
  display : block;
  border-radius: 15px;
}

#experience-menu button{
  background:#0e7a6b;
  display : block;
  border-radius: 15px;
}


#optique-menu button:hover,#matiere-menu button:hover,#svt-menu button:hover,#energie-menu button:hover,#astronomie-menu button:hover,#experience-menu button:hover,#maths-menu button:hover{
  bottom:2px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.55);
}

img[src="forward.png"]{
  filter:invert(1);
  position: absolute;
  right: 10px;
}



nav{
  text-align:center;
  font-family: 'Londrina Solid', sans-serif;
  background-color: #2e2e31;
  border-radius: 10px;
  margin: 20px;
}
nav > ul{
  margin: 0px;
  padding: 0px;
}

nav > ul::after{
  content: "";
  display: block;
  clear: both;
}

nav li{
  list-style-type: none;
}
nav > ul > li{
  display:inline-block;
  position: relative;
}
nav a{
  text-align:left;
  display: inline-block;
  text-decoration: none;
}
nav > ul > li > a{
  padding: 20px 20px;
  color: #ffffff;
  text-align: center;
}
.submenu{
  display: none;
}

nav li:hover .submenu{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
.submenu li{
  border-bottom : 1px solid #CCC;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color:#ffffff;
  width: 270px;
}
nav > ul > li:hover a{
  padding: 15px 20px 20px 20px;
}
.menu-matiere:hover{
  border-top: 5px solid #b46b2d;
  background-color: #64320f;
}
.menu-lumiere:hover{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}
.menu-energie:hover{
  border-top: 5px solid rgb(185, 5, 5);
  background-color: rgba(159, 87, 87, 0.15);
}
.menu-SVT:hover{
  border-top: 5px solid rgb(5, 163, 35);
  background-color: rgba(3, 77, 9, 0.55);
}
.menu-univers:hover{
  border-top: 5px solid #BBB;
  background-color: rgb(10, 1, 41);
}
.menu-experience:hover{
  border-top: 5px solid #09a0b4;
  background-color: rgb(1, 41, 39);
}
.menu-maths:hover{
  border-top: 5px solid #020440;
  background-color: rgb(1, 41, 39);
}


.submenu :hover a{
  color:#EEE;
  font-weight: bold;
}

.menu-maths .submenu :hover a{
  font-weight: normal;
}

.menu-maths .submenu li ul li:hover a{
  font-weight: bold;
}


.menu-matiere .submenu{
  background-color: #b46b2d;
}

.menu-lumiere .submenu{
  background-color: rgb(181, 175, 20);
}

.menu-energie .submenu{
  background-color: rgb(185, 5, 5);
}

.menu-SVT .submenu{
  background-color: rgb(5, 163, 35);
}

.menu-univers .submenu{
  background-color: RGB(95, 120, 170);
}

.menu-experience .submenu{
  background-color:#09a0b4
}

.menu-maths .submenu{
  background-color:#050980
}


.spoiler {
	display:none;
}
.spoiler:hover{
	display:block;
}

.button::before, .button::after {
  position: absolute;
  content: '';
  transition: all .2s;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Rubik One', sans-serif;
  text-decoration: none;
  font-size: 4vw;
  transition: all .2s;
  background-color: #073655;
}
.button::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #0d334d;
}
.button::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #0b293e;
}
.button:active {
  margin-left: 10px;
  margin-top: 10px;
}
.button:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.button:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

#quiz {
    font-size:30px;
}