body {
 font-family: "Kalam", sans-serif;
 font-size:100%;
 }
p {
 margin-left:50px;
} 
form {
 background-color: white;
 padding:10px;
 width:500px;
 margin-right: auto;
 margin-left: auto;
 }
fieldset {
 padding:0 20px 20px 20px;
 background-color: white;
 margin-bottom:10px;
 border:3px solid #000000;
 }
legend {
 color:#000000;
 font-weight:bold;
 }

input, textarea, select, option {
 background-color:#FFFFFF;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #C9C9C9;
 border-radius:10px;
 width:200px;
 box-shadow:1px 1px 1px #C9C9C9 inset;
 }

input[type=radio] {
 box-shadow:none;
 width:15px;
 height:15px; 
 cursor:pointer;
 }

input[type=submit] {
 position: absolute;
 width:100px;
 margin-left:-125px;
 box-shadow:1px 1px 1px #C9C9C9;
 cursor:pointer;
 }

input[type=reset] {
 position: absolute;
 width:100px;
 margin-right:125px;
 box-shadow:1px 1px 1px #C9C9C9;
 cursor:pointer;
 }